@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="grid-container sectionWidth">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
            <a href="@Url.Action("Login", "Account")"> Click Here</a> to return to the log in menu. 
        </p>
    </div>
</div>
